---
---

<a 
  href="https://promovaweb.com/whatsapp" 
  target="_blank" 
  rel="noopener noreferrer"
  class="whatsapp-floating"
  aria-label="Contact us on WhatsApp"
>
  <svg version="1.1" viewBox="0 0 47.655 47.872" xmlns="http://www.w3.org/2000/svg">
    <path d="m23.729 1.8892a21.453 21.319 0 0 0-21.184 21.494 21.453 21.319 0 0 0 3.084 10.756l-0.54297 3.3184-1.3379 7.252 6.8965-2.6074 2.123-0.75391a21.453 21.319 0 0 0 11.318 3.1758 21.453 21.319 0 0 0 21.363-21.318l-0.0039-0.35547a21.453 21.319 0 0 0-21.717-20.961z" fill="#2ab318"/>
    <path d="m0 47.872 3.3661-12.292c-2.0763-3.5977-3.1685-7.6786-3.167-11.86 0.00534-13.079 10.649-23.72 23.728-23.72 6.3469 0.0026703 12.304 2.4731 16.784 6.9568 4.4796 4.4837 6.9458 10.444 6.9435 16.783-0.0057 13.079-10.651 23.722-23.728 23.722-8e-4 0 4e-4 0 0 0h-0.0103c-3.9711-0.0015-7.8728-0.9975-11.338-2.8877zm13.161-7.5927 0.7206 0.4269c3.0273 1.7967 6.4983 2.7469 10.038 2.7488h0.0076c10.87 0 19.717-8.8455 19.721-19.717 2e-3 -5.2684-2.0473-10.223-5.7708-13.949-3.7239-3.7266-8.675-5.78-13.943-5.7823-10.878 0-19.725 8.8443-19.729 19.715-0.00153 3.7254 1.0406 7.3532 3.0151 10.493l0.46921 0.7462-1.9928 7.2753z" fill="#fff"/>
    <path d="m17.997 13.804c-0.444-0.9873-0.9117-1.0071-1.3344-1.0243-0.3456-0.0148-0.7412-0.0141-1.136-0.0141-0.3952 0-1.0376 0.1488-1.5808 0.742-0.5436 0.5932-2.0756 2.0275-2.0756 4.9446 0 2.9175 2.1248 5.7362 2.4212 6.1322 0.2964 0.3956 4.1016 6.5731 10.128 8.9497 5.0083 1.9752 6.0272 1.5823 7.1144 1.4835s3.5076-1.4343 4.0016-2.8187c0.4944-1.3843 0.4944-2.5707 0.346-2.8191-0.1484-0.2468-0.5436-0.3952-1.1364-0.6916s-3.5076-1.7311-4.0512-1.9287c-0.5436-0.198-0.9388-0.2964-1.334 0.2972-0.3955 0.5928-1.5308 1.9279-1.8768 2.3231-0.346 0.3964-0.692 0.446-1.2848 0.1492-0.5928-0.2972-2.5024-0.9228-4.7676-2.9427-1.7624-1.5713-2.9525-3.5122-3.2985-4.1057-0.3456-0.5929-0.0058-0.8858 0.2605-1.2097 0.4795-0.5833 1.284-1.6319 1.4816-2.0271 0.1976-0.396 0.0988-0.742-0.0492-1.0388-0.1484-0.2964-1.3008-3.2284-1.8276-4.401z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"/>
  </svg>
</a>

<style>
  .whatsapp-floating {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .whatsapp-floating:hover {
    transform: scale(1.1);
    box-shadow: 2px 5px 15px rgba(0,0,0,0.3);
  }

  .whatsapp-floating svg {
    width: 35px;
    height: 35px;
  }

  @media (max-width: 768px) {
    .whatsapp-floating {
      width: 50px;
      height: 50px;
      bottom: 15px;
      right: 15px;
    }
    .whatsapp-floating svg {
      width: 30px;
      height: 30px;
    }
  }
</style>
